//
//  Dev.xcconfig
//  MobileBackend
//
//  Created by Nick Reichard on 8/21/24.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include "Base.xcconfig"

BUNDLE_DISPLAY_NAME = MobileBackend Dev
ENVIRONMENT = Dev
PRODUCT_BUNDLE_IDENTIFIER = com.nickreichard.MobileBackend.$ENVIRONMENT
PRODUCT_NAME = MobileBackend
