<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>940500467218-jf1cgtg082nj7uu94chnb29mdodtf6qk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.940500467218-jf1cgtg082nj7uu94chnb29mdodtf6qk</string>
	<key>API_KEY</key>
	<string>AIzaSyCid0I_heP0pUeofN7kcdciRMqNhXxUN6k</string>
	<key>GCM_SENDER_ID</key>
	<string>940500467218</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nickreichard.MobileBackend</string>
	<key>PROJECT_ID</key>
	<string>mobilebackend-1d311</string>
	<key>STORAGE_BUCKET</key>
	<string>mobilebackend-1d311.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:940500467218:ios:c7919634592b0ca4e5a2cb</string>
</dict>
</plist>